* {
    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    font-weight: 100;
    white-space: nowrap;
}

:root {
    --maincolor: #F9E14B;
    --nextcolor: #000000;
    --bodycolor: #f4f4f4;
    --smallcolor: #555555;
    --whitecolor: #ffffff;
}

@font-face {
    font-family: "MyFont";
    src: url('/public/font/zh-cn.ttf');
}


html {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: orangered;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0%;
    min-width: 300px;
}

.unshow {
    display: none;
}

.button {
    background-color: transparent;
    border-radius: 5px;
    border: var(--nextcolor) solid 2px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    position: sticky;
    top: -72px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav {
    background-color: var(--maincolor);
    color: var(--nextcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--nextcolor);
}

a:focus {
    outline: none;
}

.nav ul a {
    margin: 0 15px;
}

.nav h1 {
    margin: 20px 30px;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0 30px;
}

.nav-serch {
    height: 35px;
    width: 300px;
    background-color: transparent;
    border: var(--nextcolor) solid 2px;
    border-radius: 50px;
    color: var(--nextcolor);
}



.nav-serch:focus {
    outline: none;
}

.category {
    color: var(--nextcolor);
    padding: 15px 150px 15px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--whitecolor);
    opacity: 0.95;
    position: relative;
    width: 100%;
}

.category :nth-child(8),
.category :nth-child(9),
.category :nth-child(10) {
    display: none;
}

.category p {
    margin: 0;
    background-color: var(--maincolor);
    padding: 0 10px;
    border-radius: 50px;
}

.category button {
    position: absolute;
    right: 40px;
}

.category span {
    margin: 0 10px;
    cursor: pointer;
    color: var(--smallcolor);
    transition: all 0.3s ease;
}

.category span:hover {
    color: var(--nextcolor);
}



.main-content {
    width: 100%;
    padding: 0px 30px;
    background-color: var(--bodycolor);
    min-height: 200vh;
}

.main-header {
    display: flex;
    padding: 15px 0 0px;
    margin: 0 15px;
    justify-content: space-between;
}

.main-random {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.main-content h3 {
    margin: 0;
    font-size: larger;
    width: 100px;
}

.video {
    flex: 15%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    background-color: var(--whitecolor);
}

.video h4 {
    color: var(--nextcolor);
    margin: 5px 10px;
    font-size: larger;
}

.video small {
    position: absolute;
    bottom: 70px;
    right: 5px;
    color: var(--nextcolor);
    border-radius: 50px;
    background-color: var(--maincolor);
    padding: 0 5px;
}

.video p {
    margin: 5px 10px;
    font-size: smaller;
    color: var(--smallcolor);

}

.video div {
    width: 100%;
    height: 85%;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    width: 100%;
    background-color: var(--nextcolor);
    color: white;
}

@media (max-width:768px) {
    .nav-serch {
        display: none;
    }

    .nav-ul #first {
        display: none;
    }

    .nav-ul :nth-child(2),
    .nav-ul :nth-child(4),
    .nav-ul :nth-child(5){
        display: none;
    }

    .category :nth-child(7),
    .category :nth-child(6),
    .category :nth-child(11),
    .category :nth-child(12),
    .category :nth-child(13) {
        display: none;
    }

    .video {
        flex: 40%;
        height: 300px;
        font-size: smaller;
    }

    .video div {
        height: 80%;
    }

    .main-content {
        margin: 0;
        padding: 0;
    }
}